In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import time

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
There is no [win32] chromedriver for browser 92.0.4515 in cache
Get LATEST driver version for 92.0.4515
Trying to download new driver from https://chromedriver.storage.googleapis.com/92.0.4515.107/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\HB16584\.wdm\drivers\chromedriver\win32\92.0.4515.107]

In [3]:
URL="https://redplanetscience.com/"
browser.visit(URL)

In [4]:
html= browser.html
soup= BeautifulSoup(html,"html.parser")
listtext= soup.find(class_='list_text')
title= listtext.find(class_="content_title").get_text()
paragraph= listtext.find(class_="article_teaser_body").get_text()

In [5]:
title

"NASA's Mars 2020 Rover Goes Coast-to-Coast to Prep for Launch"

In [6]:
paragraph

"The agency's first step in returning rocks from Mars just arrived at Kennedy Space Center. The Mars 2020 team now begins readying for a launch to the Red Planet this July."

In [7]:
time.sleep(1)

In [8]:
import requests

In [9]:
URL2="https://spaceimages-mars.com/"
browser.visit(URL2)
html= browser.html
soup2= BeautifulSoup(html,"html.parser")
listtext= soup2.find_all('img')[1]["src"]

featured_image_url = URL + listtext

# images = soup2.find_all('img')
# for img in images:
#     if img.has_attr('Icaria'):
#         print(img['Icaria'])
print(featured_image_url)

https://redplanetscience.com/image/featured/mars3.jpg

In [10]:
time.sleep(1)

In [11]:
!pip install lxml
import pandas as pd

Requirement already satisfied: lxml in c:\users\hb16584\anaconda3\envs\myenvtec\lib\site-packages (4.6.3)

In [12]:
import lxml

In [13]:
# URL3 = 'https://space-facts.com/mars/'
# browser.visit(URL3)
# html= browser.html
table = pd.read_html('https://galaxyfacts-mars.com/')

print(table[0])

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [14]:
type(table)

list

In [15]:
df = table[0]
renamed_df = df.rename(columns={0: 'Feature', 1: 'Mars', 2: 'Earth'})
renamed_df.head(9)

                   Feature             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [16]:
df = renamed_df.set_index("Feature", inplace=False)
df.head(9)

                                    Mars            Earth
Feature
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [17]:
df.to_html('mars_facts.html')

In [18]:
# variables for full image hemispheres
Cerberus = "https://marshemispheres.com/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"
Schiaparelli = "https://marshemispheres.com/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"
Syrtis = "https://marshemispheres.com/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"
Valles = "https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"

In [19]:
# Dictionary of hemisphere titles and images
hemisphere_image_urls = [
    {"title": "Cerberus Hemisphere", "img_url": Cerberus},
    {"title": "Schiaparelli Hemisphere", "img_url": Schiaparelli},
     {"title": "Syrtis Major Hemisphere", "img_url": Syrtis},
    {"title": "Valles Marineris Hemisphere", "img_url": Valles}, 
]

In [20]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://marshemispheres.com/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://marshemispheres.com/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://marshemispheres.com/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}]